<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Dijitle Metra</title>
    <script src="https://openlayers.org/en/latest/build/ol.js"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/latest/css/ol.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="~/js/Web.js"></script>
    <link href="~/css/web.css" rel="stylesheet" />
    <link href="~/Images/DijitleLogo.png" rel="shortcut icon" type="image/png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Images/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Images/apple-icon-144x144.png" />
</head>
<body onload="start();">
    <nav class="navbar bg-primary navbar-dark fixed-top">

        <a asp-area="" asp-controller="Web" asp-action="Index" class="navbar-brand">Dijitle Metra</a>

        <span id="clock" class="navbar-brand" style="position:absolute; left:50%; top:8px; transform: translateX(-50%);"></span>
               

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            

            <div class="input-group my-3">

                <div class="input-group-prepend mp-3">
                    <span class="input-group-text fas fa-route" style="font-size:24px; width:64px;"></span>
                </div>
                <select id="routes" class="custom-select" onchange="loadStops();">
                    <option selected>All Routes</option>
                </select>

                <div class="input-group-append">
                    <button class="btn btn-success" type="button" onclick="save('routes')"><i class='fas fa-save'></i></button>
                </div>
            </div>

            <div class="input-group mb-3">

                <div class="input-group-prepend">
                    <span class="input-group-text fas fa-home" style="font-size:24px; width:64px;"></span>
                </div>
                <select id="stopsFrom" class="custom-select">
                    <option selected hidden value="ROUTE59">Choose a origin stop...</option>
                </select>

                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" onclick="getGPS()"><i class='fas fas fa-location-arrow'></i></button>
                </div>

                <div class="input-group-append">
                    <button class="btn btn-success" type="button" onclick="save('stopsFrom')"><i class='fas fa-save'></i></button>
                </div>
            </div>

            <div class="input-group mb-3">

                <div class="input-group-prepend">
                    <span class="input-group-text fas fa-building" style="font-size:24px; width:64px;"></span>
                </div>
                <select id="stopsTo" class="custom-select">
                    <option selected hidden value="CUS">Choose a destination stop...</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" onclick="save('stopsTo')"><i class='fas fa-save'></i></button>
                </div>
            </div>

            <div class="mb-3">

                <span class="navbar-text" style="margin-right:5px;">Express Only</span>

                <label class="switch">
                    <input id="expressOnly" type="checkbox" onclick="changeExpress()" />
                    <span class="slider round"></span>
                </label>

                <button class="btn btn-success float-sm-right" type="button" onclick="getTimes();">Get Times</button>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Dijitle.com</p>
        </footer>
    </div>    
</body>
</html>