<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Dijitle Metra</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="~/js/Web.js"></script>
    <link href="~/css/web.css" rel="stylesheet" />
    <link href="~/Images/DijitleLogo.png" rel="shortcut icon" type="image/png" />
</head>
<body onload="startTime(); loadRoutes(); loadStops(); getPositions();">
    <nav class="navbar bg-primary navbar-dark fixed-top">

        <a asp-area="" asp-controller="Web" asp-action="Index" class="navbar-brand">Dijitle Metra</a>

        <span id="clock" class="navbar-brand"></span>
               

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
            <div class="form-group">
                <span class="navbar-text align-middle">Routes:</span>
                <select id="routes" class="custom-select" onchange="loadStops();">
                    <option selected>All Routes</option>
                </select>

                <span class="navbar-text align-middle">From:</span>
                <select id="stopsFrom" class="custom-select">
                    <option selected hidden>Choose a origin stop...</option>
                </select>

                <span class="navbar-text align-middle">To:</span>
                <select id="stopsTo" class="custom-select">
                    <option selected hidden>Choose a destination stop...</option>
                </select>
            </div>

            <div class="form-group">
                <span class="navbar-text align-middle">Express Only</span>

                <label class="switch">
                    <input id="expressOnly" type="checkbox" />
                    <span class="slider round"></span>
                </label>

                <button class="btn btn-success align-middle float-right" type="button" onclick="getTimes()">Get Times</button>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Dijitle.com</p>
        </footer>
    </div>    
</body>
</html>