@{
    ViewData["Title"] = "System Map";
}

    <div class="container-fluid p-0" name="map" id="map" style="background-color: lightgray; height:80vh; margin-top:64px;" onload="mapStart();"></div>
    <hr />
    <div class="text-light">
        <h6>Legend</h6>
        <img src="https://cdn.mapmarker.io/api/v1/pin?icon=fa-train&size=50&background=1df946" />RealTime Inbound
        <img src="https://cdn.mapmarker.io/api/v1/pin?icon=fa-train&size=50&background=2772ea" />RealTime Outbound
        <br/>
        <img src="https://cdn.mapmarker.io/api/v1/pin?icon=fa-train&size=50&background=111111" />Estimated Inbound
        <img src="https://cdn.mapmarker.io/api/v1/pin?icon=fa-train&size=50&background=aaaaaa" />Estimated Outbound

        <div id="routeLegend" class="d-flex justify-content-around flex-wrap">

        </div>
    </div>

<script src="~/js/Map.js" asp-append-version="true"></script>