@{
    ViewData["Title"] = "Map";
}

    <div name="map" id="map" style="background-color: lightgray; height:80vh; margin-top:64px;" onload="mapStart();"></div>
    <hr />
    <div>
        <h6>Legend</h6>
        <img src="https://cdn.mapmarker.io/api/v1/pin?icon=fa-train&size=50&background=1df946" />Inbound
        <img src="https://cdn.mapmarker.io/api/v1/pin?icon=fa-train&size=50&background=2772ea" />Outbound

        <div id="routeLegend" class="d-flex justify-content-around flex-wrap">

        </div>
    </div>

<script src="~/js/Map.js" asp-append-version="true"></script>